{% load i18n %}
{% load staticfiles %}
{% load taxed_prices %}
{% load product_first_image from product_images %}
{% load get_thumbnail from product_images %}
{% load placeholder %}

{% for product, availability in products %}
  <div class="col-12 col-md-6 col-lg-4  product-item">
    <a href="{{ product.get_absolute_url }}" class="link--clean">
      <div class="text-center">
        <div>
          <img class="img-responsive lazyload lazypreload"
               data-src="{% product_first_image product method="thumbnail" size="270x270" %}"
               data-srcset="{% product_first_image product method="thumbnail" size="270x270" %} 1x, {% product_first_image product method="thumbnail" size="540x540" %} 2x"
               alt=""
               src="{% placeholder size=255 %}">

        </div>
        <div class="panel-footer">
            <div class="attributes">
                <div class="sku"><span class="caption">артикул</span><br/> СП-012</div>
{#                <div class="package">1/15/180</div>#}
                <div class="material">нержавеющая <br>сталь</div>
            </div>
            <div class="product-name">
                <span class="product-list-item-name" title="{{ product }}">{{ product | capfirst }}</span>
            </div>


{#          {% if availability.available %}#}
{#            {% price_range availability.price_range %}#}
{#            {% if availability.discount %}#}
{#              {% if availability.price_range_undiscounted.start != availability.price_range.start %}#}
{#                <div class="product-list__sale">#}
{#                  <svg data-src="{% static "images/sale-bg.svg" %}" />#}
{#                  <span class="product-list__sale__text">#}
{#                    {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}#}
{#                    {% trans "Sale" context "Sale (discount) label for item in product list" %}#}
{#                  </span>#}
{#                </div>#}
{#              {% endif %}#}
{#            {% endif %}#}
{#          {% else %}#}
{#            &nbsp;#}
{#          {% endif %}#}

        </div>
      </div>
    </a>
  </div>
{% endfor %}
